# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# NestJS build
dist/

# Environment
.env
.env.*

# Debug
*.log

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Prisma
/prisma/migrations/
/prisma/dev.db

# Optional
coverage/

